<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Nashville</title>
        <!-- <link rel="icon" type="image/png" href="favicon.png"> -->

        <script src="vue.js"></script>
        <script src="vue-resource.js"></script>
        <link rel="stylesheet" type="text/css" href="style.css" />
        <script src="audiolib.js"></script>
    </head>
    <body>
        <h1>The Voice of Nashville</h1>
        <div id="app">
            <audio ref='amb0' src='src/ambience/amb1.mp3'></audio>
            <audio ref='amb1' src='src/ambience/amb2.mp3'></audio>
            <audio ref='amb2' src='src/ambience/amb3.mp3'></audio>
            <audio ref='amb3' src='src/ambience/amb4.mp3'></audio>
            <audio ref='amb4' src='src/ambience/amb5.mp3'></audio>
            <audio ref='amb5' src='src/ambience/amb6.mp3'></audio>
            <audio ref='amb6' src='src/ambience/amb7.mp3'></audio>

            <audio ref='step0' src='src/footsteps/step1.mp3'></audio>
            <audio ref='step1' src='src/footsteps/step2.mp3'></audio>
            <audio ref='step2' src='src/footsteps/step3.mp3'></audio>
            <audio ref='step3' src='src/footsteps/step4.mp3'></audio>
            <audio ref='step4' src='src/footsteps/step5.mp3'></audio>
            <audio ref='step5' src='src/footsteps/step6.mp3'></audio>
            <audio ref='step6' src='src/footsteps/step7.mp3'></audio>
            <audio ref='step7' src='src/footsteps/step8.mp3'></audio>
            <audio ref='step8' src='src/footsteps/step9.mp3'></audio>
            <audio ref='step9' src='src/footsteps/step10.mp3'></audio>
            <audio ref='step10' src='src/footsteps/step11.mp3'></audio>

            <audio ref='cowboy1' src='src/voices/cowb1.mp3'></audio>
            <audio ref='cowboy2' src='src/voices/cowb2.mp3'></audio>
            <audio ref='cowboy3' src='src/voices/cowb3.mp3'></audio>
            <audio ref='cowboy4' src='src/voices/cowb4.mp3'></audio>
            <audio ref='cowboy5' src='src/voices/cowb5.mp3'></audio>
            <audio ref='cowboy6' src='src/voices/cowb6.mp3'></audio>
            <audio ref='cowboy7' src='src/voices/cowb7.mp3'></audio>

            <audio ref='alex1' src='src/voices/dd1.mp3'></audio>
            <audio ref='alex2' src='src/voices/dd2.mp3'></audio>
            <audio ref='alex3' src='src/voices/dd3.mp3'></audio>
            <audio ref='alex4' src='src/voices/dd4.mp3'></audio>
            <audio ref='alex5' src='src/voices/dd5.mp3'></audio>
            <audio ref='alex6' src='src/voices/end_game.mp3'></audio>

            <div v-if="gameState=='start'">

            </div>
            <div v-if="gameState=='game'">
                <p>
                    {{ dialog }}
                </p>
                <template v-for="answer in answers">
                    <a v-on:click="nextPerson(answer.next, answer.id)">{{ answer.text }}</a><br /><br /> 
                </template>
            </div>
            <div v-if="gameState=='lose'">

            </div>
            <div v-if="gameState=='win'">

            </div>
        </div>
        <script src="game.js"></script>
    </body>
</html>