<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Nashville</title>
        <!-- <link rel="icon" type="image/png" href="favicon.png"> -->

        <script src="vue.js"></script>
        <script src="vue-resource.js"></script>
        <link rel="stylesheet" type="text/css" href="style.css" />
        <script src="audiolib.js"></script>
    </head>
    <body>
        <h1>The Voice of Nashville</h1>
        <div id="app">
            <audio ref='ambience0' src='src/ambience/s1.mp3'></audio>
            <audio ref='ambience1' src='src/ambience/s2.mp3'></audio>
            <audio ref='ambience2' src='src/ambience/s3.mp3'></audio>
            <audio ref='ambience3' src='src/ambience/s4.mp3'></audio>

            <audio ref='cowboy1' src='src/footsteps/step1.mp3'></audio>
            <audio ref='cowboy2' src='src/footsteps/step1.mp3'></audio>
            <audio ref='cowboy3' src='src/footsteps/step1.mp3'></audio>
            <audio ref='cowboy4' src='src/footsteps/step1.mp3'></audio>
            <audio ref='alex1' src='src/footsteps/step2.mp3'></audio>
            <audio ref='alex2' src='src/footsteps/step3.mp3'></audio>
            <audio ref='alex3' src='src/footsteps/step4.mp3'></audio>
            <audio ref='alex4' src='src/footsteps/step5.mp3'></audio>
            <audio ref='alex5' src='src/footsteps/step6.mp3'></audio>
            <audio ref='alex6' src='src/footsteps/step7.mp3'></audio>

            <div v-if="gameState=='start'">

            </div>
            <div v-if="gameState=='game'">
                <p>
                    {{ dialog }}
                </p>
                <template v-for="answer in answers">
                    <a v-on:click="nextPerson(answer.next)">{{ answer.text }}</a><br /><br /> 
                </template>
            </div>
            <div v-if="gameState=='lose'">

            </div>
            <div v-if="gameState=='win'">

            </div>
        </div>
        <script src="game.js"></script>
    </body>
</html>