<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Nashville</title>
        <!-- <link rel="icon" type="image/png" href="favicon.png"> -->

        <script src="vue.js"></script>
        <script src="vue-resource.js"></script>
        <link rel="stylesheet" type="text/css" href="style.css" />
        <script src="audiolib.js"></script>
    </head>
    <body>
        <h1>The Voice of Nashville</h1>
        <div id="app">
            <audio ref='intro_cowboy' src='src/dialog/intro_cowboy.mp3'></audio>
            <audio ref='cowboy2_intro' src='src/dialog/cowboy2_intro.mp3'></audio>
            <audio ref='respond_to_cowboy1' src='src/dialog/respond_to_cowboy1.mp3'></audio>
            <audio ref='respond_to_cowboy2' src='src/dialog/respond_to_cowboy2.mp3'></audio>
            <audio ref='respond_to_street_performer' src='src/dialog/respond_to_street_performer.mp3'></audio>
            <audio ref='sports1' src='src/dialog/sports1.mp3'></audio>
            <audio ref='sports2' src='src/dialog/sports2.mp3'></audio>
            <audio ref='street_performer' src='src/dialog/street_performer.mp3'></audio>
            <audio ref='bachelorette' src='src/dialog/bachelorette.mp3'></audio>
            <audio ref='biker' src='src/dialog/biker.mp3'></audio>
            <audio ref='biker_to_drug' src='src/dialog/biker_to_drug.mp3'></audio>
            <audio ref='biker_to_goodtime' src='src/dialog/biker_to_goodtime.mp3'></audio>
            <audio ref='biker_to_performer' src='src/dialog/biker_to_performer.mp3'></audio>
            <audio ref='cop' src='src/dialog/cop.mp3'></audio>
            <audio ref='drugdealer' src='src/dialog/drugdealer.mp3'></audio>
            <audio ref='drugs_no' src='src/dialog/drugs_no.mp3'></audio>
            <audio ref='drugs_yes' src='src/dialog/drugs_yes.mp3'></audio>
            <audio ref='jail' src='src/dialog/jail.mp3'></audio>
            <audio ref='songwriter' src='src/dialog/songwriter.mp3'></audio>
            <audio ref='tobis' src='src/dialog/tobis.mp3'></audio>
            <audio ref='tourist' src='src/dialog/tourist.mp3'></audio>
            <audio ref='vendor' src='src/dialog/vendor.mp3'></audio>
            <audio ref='vendor_steal' src='src/dialog/vendor_steal.mp3'></audio>

            <audio ref='amb0' src='src/ambience/amb1.mp3'></audio>
            <audio ref='amb1' src='src/ambience/amb2.mp3'></audio>
            <audio ref='amb2' src='src/ambience/amb3.mp3'></audio>
            <audio ref='amb3' src='src/ambience/amb4.mp3'></audio>
            <audio ref='amb4' src='src/ambience/amb5.mp3'></audio>
            <audio ref='amb5' src='src/ambience/amb6.mp3'></audio>
            <audio ref='amb6' src='src/ambience/amb7.mp3'></audio>

            <audio ref='step0' src='src/footsteps/step1.mp3'></audio>
            <audio ref='step1' src='src/footsteps/step2.mp3'></audio>
            <audio ref='step2' src='src/footsteps/step3.mp3'></audio>
            <audio ref='step3' src='src/footsteps/step4.mp3'></audio>
            <audio ref='step4' src='src/footsteps/step5.mp3'></audio>
            <audio ref='step5' src='src/footsteps/step6.mp3'></audio>
            <audio ref='step6' src='src/footsteps/step7.mp3'></audio>
            <audio ref='step7' src='src/footsteps/step8.mp3'></audio>
            <audio ref='step8' src='src/footsteps/step9.mp3'></audio>
            <audio ref='step9' src='src/footsteps/step10.mp3'></audio>
            <audio ref='step10' src='src/footsteps/step11.mp3'></audio>

            <div v-if="gameState=='start'">

            </div>
            <div v-if="gameState=='game'">
                <p>
                    {{ dialog }}
                </p>
                <template v-for="answer in answers">
                    <a v-on:click="nextPerson(answer.next, answer.id)">{{ answer.text }}</a><br /><br /> 
                </template>
            </div>
            <div v-if="gameState=='lose'">

            </div>
            <div v-if="gameState=='win'">

            </div>
        </div>
        <script src="game.js"></script>
    </body>
</html>